/* #login-container {
    float: left;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background-color: #555;
    color: white;
    font-size: 17px;
    border: none;
    cursor: pointer;
}


@media screen and (max-width: 600px) {
    #login-container {
      float: none;
    }
    #topnav input[type=text], .topnav .login-container button {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    #login-container input[type=text] {
      border: 1px solid #ccc;  
    }
  } */